@import url("https://fonts.googleapis.com/css2?family=Anek+Gurmukhi:wght@800&family=Asap+Condensed:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter+Tight:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Manrope:wght@200;300;400;500;600;700;800&family=Plus+Jakarta+Sans:wght@200&family=Roboto:wght@100;300;400;500;700;900&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.section {
  margin-bottom: 20px;
}

.title {
  display: block;
  background-color: #eee;
  padding: 5px;
  font-weight: bold;
}

.info {
  margin-left: 10px;
  margin-top: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  font-family: Manrope;
  font-size: 16px;
}

.menuing {
  display: flex;
}

.menuingtext {
  padding: 10px;
}

.elementimg {
  display: flex;
  max-height: 450px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 15%,
    rgba(44, 44, 44, 0.8505996148459384) 69%,
    rgba(255, 0, 0, 1) 71%,
    rgba(0, 0, 0, 1) 74%
  );
}

.headerelement {
  height: 100vh;
}

.elementimg img {
  max-width: 100%;
  object-fit: contain;
  object-position: 50% 50%;
}

.headertext {
  font-family: Manrope;
  font-size: 50px;
  letter-spacing: 1px;
  word-spacing: 2px;
  padding: 10px;
  font-weight: 800;
  display: flex;
  justify-content: center;
}

.description {
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  font-family: Manrope;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  line-height: 1.5;
}

.showtext {
  font-family: Manrope;
  letter-spacing: 1px;
  color: red;
}

.showdesc {
  padding-top: 10px;
  font-family: Manrope;
  font-size: 18px;
  font-weight: 600;
}

.description p {
  margin: 0;
  padding: 0;
}

.categories {
  display: flex;
  justify-content: space-evenly;
  background: rgb(0, 0, 0);
  color: white;
  padding-bottom: 10px;
  padding-top: 20px;
  min-height: 120px;
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.emote {
  max-height: 40px;
  display: flex;
  padding-bottom: 10px;
}

.emote img {
  object-fit: contain;
}

.textcategorie {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Manrope;
  font-size: 45px;
  font-weight: 600;
  padding: 80px;
}

.textcategorie img {
  width: 6%;
  padding-left: 30px;
  padding-right: 30px;
}

.scrollContainer {
  overflow-x: auto;
}

.listingperk {
  display: flex;
}

.perkelem {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.perkelembottom {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.perkelemtext {
  font-family: Manrope;
  font-size: 17px;
  font-weight: 700;
}

.perkelemdesc {
  font-family: Manrope;
  padding-top: 5px;
  font-size: 14px;
  font-weight: 500;
}

.imglist {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  border-radius: 1%;
  overflow: hidden;
}

.imglist img {
  max-width: 100%;
  object-fit: contain;
}

.morecontainer {
  display: flex;
  align-items: stretch;
}

.leftdiv,
.rightdiv {
  flex: 1;
  border: 1px solid rgba(0, 0, 255, 0);
  display: flex;
  flex-direction: column;
}

.leftdiv > *,
.rightdiv > * {
  flex: 1;
}
.caroussel {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  border: 2px solid rgba(0, 213, 255, 0);
}

.carousselcontainimg {
  max-width: 8%;
  border: 1px solid rgb(205, 205, 205);
  padding: 3px;
}

.divcaroussel {
  display: flex;
  flex-direction: column;
  border: 2px solid rgba(153, 255, 0, 0);
}
.divshowoff {
  display: flex;
  justify-content: center;
  align-items: center;
}

.divshowinv {
  border: 3px solid red;
}

.elemmore {
  display: flex;
  text-align: center;
  padding: 6px;
}

.elemmore > div {
  flex: 1;
}

.elemmoredetail {
  border: 2px solid rgba(234, 0, 255, 0);
}

.elemmoretext {
  border: 2px solid rgba(71, 219, 71, 0);
}

.title {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.rightdivelem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  border: 1px solid rgba(214, 214, 214, 0.409);
  border-radius: 5%;
}

.rightdivtitle {
  font-family: "Urbanist", sans-serif;
  font-family: "Barlow Condensed";
  font-size: 16px;
  padding-top: 16px;
  padding-bottom: 5px;
}

.rightdivdesc {
  font-family: "Barlow Condensed";
  font-size: 16px;
  font-weight: 600;
}

.fullWidthVideo {
  padding: 30px;
  max-width: 100%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  max-height: 600px;
  overflow-y: auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.closeButton {
  margin-top: 10px;
  cursor: pointer;
}
.sectionclose {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.title {
  font-family: Tahoma, sans-serif;
}
.info {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}
