.container {
}

.header {
  display: flex;
  justify-content: space-between;
}

.menuing {
  display: flex;
}

.elementimg {
  display: flex;
  border: darkorange solid 2px;
  background-color: black;
}

.elementimg img {
  max-width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.categories {
  display: flex;
  justify-content: space-around;
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
