@import url("https://fonts.googleapis.com/css2?family=Anek+Gurmukhi:wght@800&family=Asap+Condensed:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter+Tight:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Manrope:wght@200;300;400;500;600;700;800&family=Plus+Jakarta+Sans:wght@200&family=Roboto:wght@100;300;400;500;700;900&display=swap");

.container {
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  font-family: Manrope;
  font-size: 20px;
}

.menuing {
  display: flex;
}

.menuingtext {
  padding: 10px;
}

.elementimg {
  display: flex;
  max-height: 450px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 15%,
    rgba(44, 44, 44, 0.8505996148459384) 69%,
    rgba(255, 0, 0, 1) 71%,
    rgba(0, 0, 0, 1) 74%
  );
}

.elementimg img {
  max-width: 100%;
  object-fit: contain;
  object-position: 50% 50%;
}

.headertext {
  font-family: Manrope;
  font-size: 50px;
  letter-spacing: 1px;
  word-spacing: 2px;
  padding: 10px;
  font-weight: 800;
  display: flex;
  justify-content: center;
}

.description {
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  font-family: Manrope;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  line-height: 1.5;
}

.description p {
  margin: 0;
  padding: 0;
}

.categories {
  display: flex;
  justify-content: space-evenly;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0) 15%,
    rgba(0, 0, 0, 1) 34%
  );
  color: white;
  padding-bottom: 40px;
  padding-top: 20px;
  min-height: 160px;
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.emote {
  max-height: 50px;
  display: flex;
  padding-bottom: 10px;
}

.emote img {
  object-fit: contain;
}

.textcategorie {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Manrope;
  font-size: 40px;
  font-weight: 600;
  padding: 40px;
}

.textcategorie img {
  width: 6%;
  padding-left: 20px;
}

.scrollContainer {
  overflow-x: auto;
}

.listingperk {
  display: flex;
}

.perkelem {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imglist {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  border-radius: 3%;
  overflow: hidden;
}

.imglist img {
  max-width: 100%;
  object-fit: contain;
}

.morecontainer {
  display: flex;
  align-items: center;
  min-height: 600px;
  border: 2px solid pink;
}

.elemmore {
  display: flex;
  border: 2px solid blue;
}

.elemmoredetail {
  border: 2px solid red;
  min-width: 200px;
}

.elemmoretext {
  border: 2px solid rgb(71, 219, 71);
  min-width: 400px;
}

.title {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
