.container {
}

.header {
  display: flex;
  justify-content: space-between;
}

.menuing {
  display: flex;
}

.elementimg {
  display: flex;
  max-height: 600px;
  border: darkorange solid 2px;
}

.elementimg img {
  max-width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.title {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
